:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section.slider-section {
  display: grid;
  align-items: center;
  /* TODO: Remove when responsive */
  width: max-content;
}

section.slider-section > * {
  grid-area: 1 / 1;
}

.slider {
  display: flex;
}

.slider.horizontal {
  flex-direction: column;
  height: 100%;
}

.slider.horizontal .track {
  height: 100%;
  width: 100%;
}

/* track line */
.track:before {
  content: attr(x);
  display: block;
  position: absolute;
  background: black;
}

.slider.horizontal .track:before {
  height: 1px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: black;
  outline: 2px solid white;
}

.thumb.dragging {
  background: dimgray;
}

.thumb.focus {
  background: orange;
}

.slider.horizontal .thumb {
  top: 50%;
}

.slider.vertical .thumb {
  left: 50%;
}

.track.disabled {
  opacity: 0.4;
}

section.outputs-keys {
  font-size: 0.8rem;
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}

section.inputs {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}

.dollar-input-group {
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  width: max-content;
}

.dollar-input-group input[type="text"] {
  border: none;
  outline: none;
  font-size: 1rem;
  display: inline-block;
  background-color: transparent;
  width: 10ch;
  padding-left: 0.2rem;
}
